*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serifs;
    scroll-behavior: smooth;
}

/* TITLE */

#main {
    height: auto;
    width: 99%;
    margin: 30px auto;
    background-color: #EEEEEE;
}

#title{
    width: 100%;
    height: auto;
    text-align: center;

}

#title h1{
    font-size: 4.5rem;
    color: #333333;
    margin-bottom: 25px;
    margin-top: 50px;
}

#title p{
    margin: 0 auto 15px;
    font-size: 1.5rem;
}

/* IMG DIV */

#img-div{
    width: 99%;
    background-color: white;
}

#img-div img{
    display: block;
    width: 70%;
    margin: auto;
}

#img-div #img-caption{
    padding: 15px;
    text-align: center;
    font-size: 1.3rem;
}

/* ACONTECIMIENTOS */

#tribute-info{
    width: 100%;
    height: auto;
}

#tribute-info h3{
    font-size: 2.2rem;
    margin: 50px;
    text-align: center;
}

#tribute-info ul{
    width: 40%;
    margin: 0 auto;
}

#tribute-info ul li{
    font-size: 1.8rem;
    margin: 20px 0 20px 0;
    line-height: 3rem;
}

#tribute-info .tribute-info--mention{
    margin-top: 60px;
    font-size: 1.5rem;
    text-align: center;
}

#tribute-info .tribute-info--footer{
    text-align: center;
    margin: 80px 0 20px;
    font-weight: bold;
    font-size: 2rem;
}