*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

main{
    width: 100vw;
    height: 100vh;
    margin: 0 5rem;
    display: inline-block; 
    font-family: Verdana, Tahoma, sans-serif;
}

.name{
    border: 0.2rem solid black;
    position: absolute;
    left: rem;
    font-size: 1.8rem;
    width: fit-content;
    border-radius: 0.5rem;
    padding: 0.5rem 2.5rem;
    margin-top: 2.3rem;
    margin-left: 10rem;
    background-color: #ADD8E6;
    font-size: 2.4rem;
    font-weight: bold;
}

.target-container{
    margin-top: 5rem;
    border: 0.3rem solid black;
    border-radius: 1.5rem;
    width: fit-content;
    height: fit-content;
    font-size: 2rem;
}

.mudkip-img{
    /* border: 0.3rem solid hotpink; */
    width: 35rem;
    height: 35rem;
    background-color: lightblue;
    border-radius: 1.5rem 1.5rem 0 1.5rem;
}

.target-text{
    margin-top: -0.4rem;
    text-align: center;
    padding: 1rem 3rem 2rem 3rem;
    box-shadow:steelblue;
    border-top: 0.2rem solid black;
    font-size: 1.6rem;
}