*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Poppins', Helvetica, sans-serifs;
    scroll-behavior: smooth;
}

body{
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
/*TITULO*/
.title-container{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 40px;
    color: rgb(255, 255, 255);
}

.title-container #title{
    font-size: 3.5rem;
    margin-bottom: 15px;
}

.title-container #description{
    font-size: 2rem;
}

/*FORMULARIO*/

.form-container{
    width: 45%;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    padding: 40px;
    background-color: rgba(0,0,0,.7);
    color: white;
    font-size: 1.8rem;
    line-height: 30px;
}

#survey-form{
    width: 100%;
}

#name, #email, #age, #role{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    padding-left: 15px;
}

#name, #email, #age, #role, #NotSure, .last,#suggestion{
    margin-bottom: 30px;
}

#suggestion{
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}

#Submit{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: #37AF65;
    color: white;
}