*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: Roboto, sans-serif;
}

/* HEADER */
.header{
    position: relative;
    width: 100vw;
    height: 8rem;
    background-color: #264653;
    border: solid 0.2rem black;
    color: white;
}

.header__img, .header__nav, .header__nav__ul__li{
    display: inline-block;
}

.header__img{
    position: absolute;
    width: 7rem;
    margin-left: 12rem;
}

.header__nav{
    position: absolute;
    right: 3%;
    top: 40%;
    font-size: 2rem;
    margin: 0 1rem;
}

.header__nav__ul{

}

.header__nav__ul__li{
    list-style-type: none;
    /* border-bottom: 0.2rem black solid; */
    padding-left: 3rem;
}

/*---------------------------------------------------------------------------*/

/*ASIDE*/
.aside{
    background-color: #2a9d8f;
    width: 20vw;
    height: 100vh;
    border: black solid 0.1rem;
    position: absolute;
}

.aside__div{
    display: block;
    border: solid 0.1rem black;
    border-radius: 12%;
    width: 80%;
    margin: 10% 10%;
    height: 20%;
    position: relative;
    
}

.aside__div__img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 12%;
}
/*---------------------------------------------------------------------------*/

/*Section*/
.section{
    position: static;
    border: black solid 0.1rem;
    margin-left: 20vw;
    width: 80%;
    height: 100vh;
    background-color: #e9c46a;
}

.section__header{
    text-align: center;
    font-size: 3rem;
    margin-top: 1.5rem;
    text-decoration: underline;
}

.section__article{

}

/*---------------------------------------------------------------------------*/