/* Ahorita si los estilos del portfolio */

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0px auto;
}
/* Para seleccionar varios elementos, varios cosos esos, se hace así  */
.hero {
  height: 300px;
  /* background-image: url(/Imagenes/images/hero.jpg); */
  background-color: #1b2127;
  /* background-size: 500px 300px; */
  /* background-repeat: no-repeat; */
  background-position-x: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-image{
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla One", sans-serif;
  font-weight: normal;
  /* font-style: italic; */
}

h2{
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

h1 {
  font-size: 40px;
  line-height: 1.5em;
  letter-spacing: -0.2px;
  color: white;
  margin: 0%;
  /* text-transform: uppercase; */
  /* text-transform: lowercase; */
  /* text-decoration: underline; */
  /* text-decoration: dashed; */
  /* margin: 100px 540px 70px 30px; */
}

h1 strong {
  color: #026fff;
}

.portfolio {
  background: #fafafa;
  padding: 20px;
}

.project {
  /* border-top: 10px solid red;
    border-right: 10px solid green;
    border-left: 10px solid orange;
    border-bottom: 10px solid orange; */
  /* Si no hay color, hereda el color de fuente */
  /* border-top-color: orchid;
    border-width: 15px;
    border-style: solid; */
  border: 1px solid gray;
  border-radius: 10px;
  /* border-top-left-radius: 50px; */
  /* margin: 10px; */
  margin-bottom: 15px;
  /* La diferencia entre padding y margin
    es que margin es el espacio hacía fuera
    y padding es el espacio hacia dentro */
  padding: 20px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-title{
    font-size: 30px;
    margin-top: 0%;
    margin-bottom: 10px;
}

.project-course,
.project-course,
.project-url{
    margin: 10px 0;
}

.project-description{
    font-size: 20px;
}

.project strong{
    font-family: 'Fjalla One', serif;
}

.project-details {
  width: 500px;
}

.project-imageContainer {
  width: 500px;
}

.header {
  background-color: #1b2127;
  color: white;
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: space-between;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

.header a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 10px;
}
.menu {
  height: inherit;
}
.header ol {
  display: flex;
  height: inherit;
}
.header ol li {
  height: inherit;
}

.event-list{
  display: flex;
  flex-wrap: wrap;
}

.event-list-title{
  margin-left: 20px;
}

.event {
  border-radius: 10px;
  margin: 10px;
  width: 480px;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  background: #f4fbff;
}

.event img{
  width: 480px;
  height: 200px;
  object-fit: cover;
}

.event-detail{
  margin: 20px 40px;
  margin-top: -40px;
  background-color: white;
  position: relative;
  padding: 20px;
  text-align: center;
}

.event-description{
  text-align: left;
}

.event-url{
  border: 1px solid #056fff;
  padding: 5px 20px;
  text-decoration: none;
  color: #056fff;
  border-radius: 10px;
}

.footer{
    background-color: #1b2127;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer img{
    vertical-align: middle;
}

.footer a{
    color: white;
}

.contact{
  background-color: #056fff;
  color: white;
  height: 155px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-email input{
  border-color: gray;
  padding: 10px 20px 10px 25px;
  border-radius: 5px;
  border-style: solid;
  background-image: url(Imagenes/images/envelope.svg);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}

.form-email button{
  display: block;
  margin-top: 10px;
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px 0px;
  border-radius: 5px;
  width: 100px;
  /* margin: 10px auto 0; */
}

.form-email h3{
  font-family: 'Source Sans Pro', serif;
}

.social{

}

.social-link{
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  margin: 0 10px;
}

.social-link.twitter{
  background-image: url('../Imagenes/images/twitter.svg');
}
.social-link.facebook{
  background-image: url('Imagenes/images/facebook.svg');
}
.social-link.github{
  background-image: url('../Imagenes/images/github.svg');
}
.social-link.instagram{
  background-image: url('../Imagenes/images/instagram.svg');
}

.container{
  /* border: 1px solid #ffffff; */
  width: 1000px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

.try{
  border: 1px solid red;
  margin: 5px;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  border: 1px solid pink;
  /* text-align: center; */
  text-align: right;
}

.try div{
  /* text-align: center;
  margin: 10px 11px 12px;
  border: 1px solid red; */
  border: 1px solid #0000FF;
  height: 50px;
  width: 50px;
  margin: 10px 11px 12px;
  display: inherit;
}