*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: Helvetica, sans-serifs;
    scroll-behavior: smooth;
}

#header{
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

#header img{
    height: 40px;
    justify-self: flex-start;
}

#nav-bar{
    display: flex;
}

#nav-bar .nav-link{
    padding: 0 50px;
}

#nav-bar .nav-link a{
    text-decoration: none;
    font-size: 1.6rem;
}

.mail{
    width: 50%;
    height: auto;
    padding-top: 80px;
    margin: 0 auto;
}

.mail h2{
    font-size: 2.8rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 25px;
}

.mail .input-container{
    width: 100%;
}
